.navbar {
  background: #fff;
  width: 100%;
  height: $navbar-height;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .container { padding: 0; }

  .logo {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: image-url('enova.png') no-repeat;
    background-size: 100%;
    text-indent: -9999px;
    left: 50%;
    position: absolute;
    top: 7px;
    margin-left: -32px;
  }

  .nav {
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      float: left;
      height: $navbar-height;

      a {
        display: block;
        font-size: 14px;
        line-height: 1;

        span.icon {
          width: 24px;
          height: 22px;
          display: inline-block;
          line-height: 1;
          float: left;
          margin-top: 13px;
          background: transparent;

          &.icon-discover {
            background: image-url('hashtag.png') no-repeat;
            background-size: 100%;
          }
        }

        .link-text {
          float: left;
          margin-left: 5px;
          margin-top: 18px;
        }
      }
    }
  }

  div[role='navigation'] {
    .nav li {
      a {
        padding: 0px 20px 0 10px;
        color: #666;

        i {
          font-size: 18px;
          float: left;
          margin-top: 16px;
        }
      }

      &.active, 
      &:hover {
        border-bottom: 5px solid $brand-primary;

        a { color: $brand-primary; }
      }
    }
  }

  div[role='search'] {
    float: left;
    position: relative;

    .search-input {
      margin-top: 7px;
      font-size: 13px;
      padding: 7px 12px;
      background: $search-bg;
      border-radius: 20px;
      border: none;
      color: $search-color;
      width: 220px;
      @include transition(0.1s all linear);

      &:focus { background: $search-bg-focus; }
    }

    .search-icon {
      position: absolute;
      right: 12px;
      top: 12px;
      color: #fff;
    }
  }

  .right-actions {
    margin-left: 10px;

    li a {
      padding: 0 12px;
      color: $search-bg;
      @include transition(0.1s all linear);

      &:hover { color: $brand-primary; }

      i {
        font-size: 24px;
        margin-top: 11px;
      }
    }

    li button {
      margin: 7px 10px;
      padding: 0 6px 0 8px;
      height: 32px;
      font-size: 20px;
    }
  }
}



