@import 'variables';
@import 'mixins';
@import 'bootstrap-custom';
@import 'font-awesome';

@import 'common/utility';
@import 'common/navbar';
@import 'common/buttons';

* { 
  outline: 0;
  zoom: 1;
}

body {
  padding-top: $navbar-height;
}

#page {
  height: 100%;
}

