@import 'variables';
@import 'mixins';
@import 'bootstrap-custom';
@import 'font-awesome';

@import 'common/utility';
@import 'common/navbar';
@import 'common/profilebar';
@import 'common/buttons';

* { 
  outline: 0;
  zoom: 1;
}

body {
  padding-top: $navbar-height;
  height: 9000px;
  background: #f1f1f1;

  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
}

#page { height: 100%; }

a { color: $brand-primary; }
a:hover { text-decoration: none; }

