@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);
$font-family-sans-serif:  'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

$brand-primary: #00A3E3;
$link-color: #555;

$navbar-height: 47px;
$navbar-border-height: 5px;

$search-bg: #A3ACB2;
$search-bg-focus: #66757f;
$search-color: #eee;
