.profile-navbar
  .container
    .row
      .col-xs-3
        .profile-avatar
          %a.avatar{href: '#'} 
            = image_tag 'enova.png'

      .col-xs-9
        %ul.nav
          %li.active
            %a{href: '#'} 
              %span.text Tweets
              %span.value 369
          %li
            %a{href: '#'} 
              %span.text Photos/videos
              %span.value 13 
          %li
            %a{href: '#'} 
              %span.text Following 
              %span.value 154
          %li
            %a{href: '#'} 
              %span.text Followers
              %span.value 410 
          %li
            %a{href: '#'} 
              %span.text Favorites 
              %span.value 14 
          %li
            %a{href: '#'} 
              %span.text &nbsp;
              %span.value
                More
                = fa_icon 'chevron-down'
          %li.user-actions
            %a.btn.settings{href: '#'}
              = fa_icon 'cog'
            %a.btn.btn-secondary.follow{href: '#'} 
              = fa_icon 'thumbs-up'
              Follow
